Streaming data dan data preprocessing Kelompok 5 PDB

12S18002 : Wiranda Siahaan

12S18009 : Novita Enjelia Hutapea

12S18041 : Merika H. Manurung

12S18046 : Tiara Octavia Situmorang

# Consume twitter steaming data

In [1]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [2]:
import tweepy
from tweepy import OAuthHandler
from tweepy import Stream
import socket
import json
import numpy as np
import pandas as pd

In [3]:
#Kindly put your credentials received from twitter developer account
consumer_key='2mTmxHwkZramjVDOewE2dybgQ'
consumer_secret='dJ42E93prTAze5BoF4wAIcxYA6gXfu9rGrHr6gguUt85xcHJSi'
access_token ='1517128047019040768-YMZCcFIf6VLbZXNkJsa79sZk70xFkM'
access_secret='Auwa9WPIktjUCrgQmzceZsdMtMA2hbnebSR7QlmYEdrlq'

In [4]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)
api = tweepy.API(auth)

In [5]:
for tweet in api.search(q='miniso', lan='en'):    
    print(tweet.text)

RT @elsolde_tampico: ðŸ”º La tienda Miniso, que se ubicaba en la zona centro de Tampico bajÃ³ sus cortinas de forma definitiva ðŸ”º

https://t.co/â€¦
ðŸ”º La tienda Miniso, que se ubicaba en la zona centro de Tampico bajÃ³ sus cortinas de forma definitiva ðŸ”º

https://t.co/Ai7FPiO9H4
RT @JaroCeleste: Voy a ser bien honesta.
compro puras pwndejadas por internetâ€¦ mas o menos como cuando voy al miniso
@convomf Kalau takut dilapis plastik aja. Saya pakai tempat box dari miniso gitu nggak berjamur sih..
Bc my shu emura apparently the same as my miniso oneðŸ™„
di na kailangan ng pc https://t.co/sc2Vyrbsxa
boogsh gago https://t.co/cyRKBgyw4D
@JaroCeleste En el miniso hay cosas bien bonitas
@convomfs Miniso yg tropical
@wintervlower @K2Gadgets Ini ada di kafe, miniso, sama tempat makan https://t.co/w9oSMhKR6h
RT @quarterafter___: [help rt, please]
wts // want to sell preloved essenHERB tea tree toner

â€¢ ðŸ’° 80K
â€¢ isi 80%
â€¢ beli di sociolla
â€¢ free gâ€¦
quiero muchos peluches de miniso ðŸ˜­ðŸ˜­ðŸ˜­ðŸ˜­ðŸ˜­
[help rt, please]
wts // want to sell preloved essenHERB tea tree toner

â€¢ ðŸ’° 80K
â€¢ isi 80%
â€¢ beli di sociolla
â€¢ freâ€¦ https://t.co/gAkqP2B8TW
Body mist miniso
Harga: 20.900 (150ml)
Varian: moonlight, cloud, star, rainbow, sunshine, dll
Review: "Wangi freshâ€¦ https://t.co/aN7f1W5gRf
@convomfs punya miniso gatau namanye males ambil

In [6]:
tweetDf = pd.DataFrame(columns = ['User', 'User_statuses_count', 
                             'user_followers','fav_count','User_location','Tweets',])

In [7]:
def stream(data, file_name):
    i = 0
    for tweet in tweepy.Cursor(api.search, q=data, count=100000, lang='en').items():
        print(i, end='\r')
        tweetDf.loc[i, 'User'] = tweet.user.name
        tweetDf.loc[i, 'User_statuses_count'] = tweet.user.statuses_count
        tweetDf.loc[i, 'user_followers'] = tweet.user.followers_count
        tweetDf.loc[i, 'fav_count'] = tweet.favorite_count
        tweetDf.loc[i, 'User_location'] = tweet.user.location
        tweetDf.loc[i, 'Tweets'] = tweet.text
        
        
        tweetDf.to_csv('{}.csv'.format(file_name))
        i+=1
        if i == 200:
            break
        else:
            pass

In [8]:
stream(data = ['miniso'], file_name = 'miniso_2021')

In [9]:
tweetDf.head()

,User,User_statuses_count,user_followers,fav_count,User_location,Tweets
0,ir,9443,1697,0,she/her,Bc my shu emura apparently the same as my mini...
1,h3lluh,8268,239,0,/ svt / atz / nct / en- /,boogsh gago https://t.co/cyRKBgyw4D
2,Raiden,24451,758,0,he/him,"RT @quarterafter___: [help rt, please]\nwts //..."
3,lin.,6824,334,0,,"[help rt, please]\nwts // want to sell prelove..."
4,Harshad Kothare,14,0,0,"Ville Parle West, Mumbai","@MTPHereToHelp Address: Irla society road , vi..."

## Data Preprocessing

In [10]:
# libraries
import numpy as np # used for handling numbers
import pandas as pd # used for handling the dataset
from sklearn.impute import SimpleImputer # used for handling missing data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder # used for encoding categorical data
from sklearn.model_selection import train_test_split # used for splitting training and testing data
from sklearn.preprocessing import StandardScaler # used for feature scaling

In [11]:
dataset = pd.read_csv('miniso_2021.csv') # to import the dataset into a variable
# Splitting the attributes into independent and dependent attributes
X = dataset.iloc[:, :-1].values # attributes to determine dependent variable / Class
Y = dataset.iloc[:, -1].values # dependent variable / Class

In [12]:
dataset.head()

,Unnamed: 0,User,User_statuses_count,user_followers,fav_count,User_location,Tweets
0,0,ir,9443,1697,0,she/her,Bc my shu emura apparently the same as my mini...
1,1,h3lluh,8268,239,0,/ svt / atz / nct / en- /,boogsh gago https://t.co/cyRKBgyw4D
2,2,Raiden,24451,758,0,he/him,"RT @quarterafter___: [help rt, please]\nwts //..."
3,3,lin.,6824,334,0,NaN,"[help rt, please]\nwts // want to sell prelove..."
4,4,Harshad Kothare,14,0,0,"Ville Parle West, Mumbai","@MTPHereToHelp Address: Irla society road , vi..."

In [13]:
print(dataset.shape)

(200, 7)

### drop coloumn

In [14]:
to_drop = ['Unnamed: 0', 'User', 'User_statuses_count', 'user_followers', 'fav_count', 'User_location']

In [15]:
dataset.drop(to_drop, inplace=True, axis = 1)

In [16]:
dataset.head()

                                              Tweets
0  Bc my shu emura apparently the same as my mini...
1                boogsh gago https://t.co/cyRKBgyw4D
2  RT @quarterafter___: [help rt, please]\nwts //...
3  [help rt, please]\nwts // want to sell prelove...
4  @MTPHereToHelp Address: Irla society road , vi...

In [17]:
print(dataset.shape)

(200, 1)

### missing value

In [18]:
# handling the missing data and replace missing values with nan from numpy and replace with mean of all the other values
dataset1 = dataset.dropna()
print(dataset1.shape)

(200, 1)

# Text Preprocessing

In [19]:
import re, string, unicodedata
import json
import nltk
import json
import time
import itertools  
import numpy as np
import pandas as pd
import tensorflow as tf
import tensorflow_hub as hub
import matplotlib.pyplot as plt
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from wordcloud import WordCloud, STOPWORDS
import tensorflow.keras.preprocessing.text as kpt
from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing.text import Tokenizer

## Case folding

In [20]:
# Change text column to lower lower case
dataset1['Tweets'] = dataset1['Tweets'].str.lower()

# Look at the change
print(dataset1)

                                                Tweets
0    bc my shu emura apparently the same as my mini...
1                  boogsh gago https://t.co/cyrkbgyw4d
2    rt @quarterafter___: [help rt, please]\nwts //...
3    [help rt, please]\nwts // want to sell prelove...
4    @mtpheretohelp address: irla society road , vi...
..                                                 ...
195  why does the pakistan miniso hate seeing me ha...
196  rt @sugarsanriio: hello kitty cooler bag from ...
197  rt @kyvo_gvr: wts | lfb [help rt] \n\nð“‚‹ xiumin...
198  rt @sugarsanriio: hello kitty cooler bag from ...
199  rt @kyvo_gvr: wts | lfb [help rt] \n\nð“‚‹ xiumin...

[200 rows x 1 columns]

## Remove URL

In [21]:
def clean_data(dataset2):
#replace URL of a text
    dataset1['Tweets'] = dataset2['Tweets'].str.replace('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', ' ')

clean_data(dataset1)
print(dataset1['Tweets']);

0      bc my shu emura apparently the same as my mini...
1                                          boogsh gago
2      rt @quarterafter___: [help rt, please]\nwts //...
3      [help rt, please]\nwts // want to sell prelove...
4      @mtpheretohelp address: irla society road , vi...
                             ...
195    why does the pakistan miniso hate seeing me ha...
196    rt @sugarsanriio: hello kitty cooler bag from ...
197    rt @kyvo_gvr: wts | lfb [help rt] \n\nð“‚‹ xiumin...
198    rt @sugarsanriio: hello kitty cooler bag from ...
199    rt @kyvo_gvr: wts | lfb [help rt] \n\nð“‚‹ xiumin...
Name: Tweets, Length: 200, dtype: object

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

## Remove Number

In [22]:
# removing numbers from strings of speciafied 
# column, here 'Name'
dataset1['Tweets']= dataset1['Tweets'].str.replace('\d+', '')
  
# display output with numbers removed from 
# required strings
print(dataset1)

                                                Tweets
0    bc my shu emura apparently the same as my mini...
1                                        boogsh gago
2    rt @quarterafter___: [help rt, please]\nwts //...
3    [help rt, please]\nwts // want to sell prelove...
4    @mtpheretohelp address: irla society road , vi...
..                                                 ...
195  why does the pakistan miniso hate seeing me ha...
196  rt @sugarsanriio: hello kitty cooler bag from ...
197  rt @kyvo_gvr: wts | lfb [help rt] \n\nð“‚‹ xiumin...
198  rt @sugarsanriio: hello kitty cooler bag from ...
199  rt @kyvo_gvr: wts | lfb [help rt] \n\nð“‚‹ xiumin...

[200 rows x 1 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

## Remove Punctuation

In [23]:
dataset1['Tweets'] = dataset1['Tweets'].str.replace(r'[^\w\s]','')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [24]:
def clean_text(text):
    '''Make text lowercase, remove text in square brackets,remove links,remove punctuation
    and remove words containing numbers.'''
    text = str(text).lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    text = re.sub(r"\d+", "", text)
    text = re.sub(r'[0-9]+', '', text)
    text = re.sub(r'\s*\d+\s*', '', text)
    text = re.sub('/[^\w\s]/gi', '', text)
    text = re.sub("@[^0-9a-zA-Z]+", '',text)
    text = re.sub(r'@[^\s]+', ' ', text)
    text = re.sub(r'#[^\w]+', ' ', text)
    text = re.sub(r"[.,:;+!\-_<^/=?&|$\"\(\)\d\*]", " ", text)
    text = re.sub('  +', ' ', text) 
    text = re.sub('\n+',' ',text)
    text = re.sub('\n', text)
    text = re.sub('\ â– ',' ',text)
    text = re.sub(r'&[^\s]+', ' ', text)


    return text

In [25]:
clean_data(dataset1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

In [26]:
print(dataset1)

                                                Tweets
0    bc my shu emura apparently the same as my mini...
1                                        boogsh gago
2    rt quarterafter___ help rt please\nwts  want t...
3    help rt please\nwts  want to sell preloved ess...
4    mtpheretohelp address irla society road  vile ...
..                                                 ...
195  why does the pakistan miniso hate seeing me ha...
196  rt sugarsanriio hello kitty cooler bag from mi...
197  rt kyvo_gvr wts  lfb help rt \n\nð“‚‹ xiumin exop...
198  rt sugarsanriio hello kitty cooler bag from mi...
199  rt kyvo_gvr wts  lfb help rt \n\nð“‚‹ xiumin exop...

[200 rows x 1 columns]

## Stopwords Removal

In [27]:
import nltk
nltk.download('stopwords')
print(stopwords.words('english'))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [28]:
print(dataset1['Tweets']); 

import nltk
nltk.download('stopwords')
nltk.download('punkt')
stop_words = set(stopwords.words('english'))
 
dataset1['Tweets'] = dataset1['Tweets'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))
print(dataset1['Tweets'])

0      bc my shu emura apparently the same as my mini...
1                                          boogsh gago
2      rt quarterafter___ help rt please\nwts  want t...
3      help rt please\nwts  want to sell preloved ess...
4      mtpheretohelp address irla society road  vile ...
                             ...
195    why does the pakistan miniso hate seeing me ha...
196    rt sugarsanriio hello kitty cooler bag from mi...
197    rt kyvo_gvr wts  lfb help rt \n\nð“‚‹ xiumin exop...
198    rt sugarsanriio hello kitty cooler bag from mi...
199    rt kyvo_gvr wts  lfb help rt \n\nð“‚‹ xiumin exop...
Name: Tweets, Length: 200, dtype: object
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
0                     bc shu emura apparently miniso one
1                                            boogsh gago
2      rt quarterafter___ help rt please wts want sel...
3      help rt please wts want sell preloved essenher...
4      mtpheretohelp address irla society road vile p...
                             ...
195    pakistan miniso hate seeing happy stupid marve...
196     rt sugarsanriio hello kitty cooler bag miniso lt
197    rt kyvo_gvr wts lfb help rt ð“‚‹ xiumin exoplanet...
198     rt sugarsanriio hello kitty cooler bag miniso lt
199    rt kyvo_gvr wts lfb help rt ð“‚‹ xiumin exoplanet...
Name: Tweets, Length: 200, dtype: object

## Tokenizing

In [29]:
dataset1['Tweets'] = dataset1['Tweets'].apply(word_tokenize)

print(dataset1['Tweets'])

0              [bc, shu, emura, apparently, miniso, one]
1                                         [boogsh, gago]
2      [rt, quarterafter___, help, rt, please, wts, w...
3      [help, rt, please, wts, want, sell, preloved, ...
4      [mtpheretohelp, address, irla, society, road, ...
                             ...
195    [pakistan, miniso, hate, seeing, happy, stupid...
196    [rt, sugarsanriio, hello, kitty, cooler, bag, ...
197    [rt, kyvo_gvr, wts, lfb, help, rt, ð“‚‹, xiumin, ...
198    [rt, sugarsanriio, hello, kitty, cooler, bag, ...
199    [rt, kyvo_gvr, wts, lfb, help, rt, ð“‚‹, xiumin, ...
Name: Tweets, Length: 200, dtype: object

In [30]:
print(dataset1)

                                                Tweets
0            [bc, shu, emura, apparently, miniso, one]
1                                       [boogsh, gago]
2    [rt, quarterafter___, help, rt, please, wts, w...
3    [help, rt, please, wts, want, sell, preloved, ...
4    [mtpheretohelp, address, irla, society, road, ...
..                                                 ...
195  [pakistan, miniso, hate, seeing, happy, stupid...
196  [rt, sugarsanriio, hello, kitty, cooler, bag, ...
197  [rt, kyvo_gvr, wts, lfb, help, rt, ð“‚‹, xiumin, ...
198  [rt, sugarsanriio, hello, kitty, cooler, bag, ...
199  [rt, kyvo_gvr, wts, lfb, help, rt, ð“‚‹, xiumin, ...

[200 rows x 1 columns]

## Hasil Akhir

In [31]:
dataset1.to_csv('/content/gdrive/My Drive/pdb/preprocessing_PDB.csv', index = False)

In [32]:
data = pd.read_csv('/content/gdrive/My Drive/pdb/preprocessing_PDB.csv')

In [33]:
from textblob import TextBlob

def getSubjectivity(review):
    return TextBlob(review).sentiment.subjectivity

def getPolarity(review):
    return TextBlob(review).sentiment.polarity

def analyze(score):
    if score  < 0:
        return '-1'
    elif score == 0:
        return '0'
    else:
        return '1'

In [34]:
final_data = pd.DataFrame(data[['Tweets']])
final_data.head()

                                              Tweets
0  ['bc', 'shu', 'emura', 'apparently', 'miniso',...
1                                 ['boogsh', 'gago']
2  ['rt', 'quarterafter___', 'help', 'rt', 'pleas...
3  ['help', 'rt', 'please', 'wts', 'want', 'sell'...
4  ['mtpheretohelp', 'address', 'irla', 'society'...

In [35]:
final_data['Subjectivity'] = final_data['Tweets'].apply(getSubjectivity)
final_data['Polarity'] =  final_data['Tweets'].apply(getPolarity)
final_data['TextBlob'] = final_data['Polarity'].apply(analyze)
final_data.head()

,Tweets,Subjectivity,Polarity,TextBlob
0,"['bc', 'shu', 'emura', 'apparently', 'miniso',...",0.35,0.05,1
1,"['boogsh', 'gago']",0.00,0.00,0
2,"['rt', 'quarterafter___', 'help', 'rt', 'pleas...",0.80,0.40,1
3,"['help', 'rt', 'please', 'wts', 'want', 'sell'...",0.00,0.00,0
4,"['mtpheretohelp', 'address', 'irla', 'society'...",0.40,0.10,1

In [36]:
tb_counts = final_data.TextBlob.value_counts()
tb_counts

0     109
1      80
-1     11
Name: TextBlob, dtype: int64

In [37]:
final_data.to_csv('/content/gdrive/My Drive/pdb/Final_Data.csv', index = False)

In [38]:
# Naive Bayes Classification

# Importing the libraries
import os
import pandas as pd
import numpy as np
import nltk
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn import preprocessing 
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics
from imblearn.over_sampling import SMOTE

In [39]:
# Importing the dataset
df = pd.read_csv('/content/gdrive/My Drive/pdb/Final_Data.csv')

In [40]:
#looking at the first 5 values of the dataset
df.head()

,Tweets,Subjectivity,Polarity,TextBlob
0,"['bc', 'shu', 'emura', 'apparently', 'miniso',...",0.35,0.05,1
1,"['boogsh', 'gago']",0.00,0.00,0
2,"['rt', 'quarterafter___', 'help', 'rt', 'pleas...",0.80,0.40,1
3,"['help', 'rt', 'please', 'wts', 'want', 'sell'...",0.00,0.00,0
4,"['mtpheretohelp', 'address', 'irla', 'society'...",0.40,0.10,1

In [41]:
df['TextBlob'].value_counts()

 0    109
 1     80
-1     11
Name: TextBlob, dtype: int64

In [42]:
X = df['Tweets']
Y = df['TextBlob']
from sklearn.model_selection import train_test_split as tt
X_train, X_test, Y_train, Y_test = tt(X, Y,test_size=0.2, random_state=100)

In [43]:
X_train.shape

(160,)

In [44]:
X_test.shape

(40,)